/*+clearfix {*/
UL.sf-menu:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
UL.sf-menu
{
	display: inline-block;
}
UL.sf-menu
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
BODY
{
	width: 100%;
	background-color: #F0F0F0;
	padding: 0;
	margin: 20px auto 0;
}
/*Superfish 2.0 Reloaded*/
UL.sf-menu, UL.sf-menu *
{
/*Reset the menu*/
	margin: 0;
	padding: 0;
	list-style: none;
}
/*[clearfix]*/UL.sf-menu
{
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
	width: 500px;
}
UL.sf-menu
{
/*reset line heights*/
	line-height: 1;
}
UL.sf-menu LI
{
	float: left;
	position: relative;
	margin-right: 10px;
}
UL.sf-menu UL LI
{
/*Set Submenu LI widths*/
	width: 100%;
}
/*First Level*/
UL.sf-menu A
{
	display: block;
	position: relative;
	padding: 0.3em 20px;
	text-decoration: none;
	color: #000;
	border: 1px solid #888888;
	line-height: 2em;
}
UL.sf-menu UL LI A
{
	margin-right: 0;
}
/** 2nd Level*/
UL.sf-menu LI UL
{
	position: absolute;
	top: 0;
	display: none;
	visibility: hidden;
	top: 2.6em;
/*top = Top Nav Bar height*/
	width: 10em;
	left: 0;
}
UL.sf-menu LI:hover UL, UL.sf-menu LI.sfHover UL
{
/*Shows 2nd level / dropdown*/
	visibility: visible;
	display: inline-block;
	z-index: 99;
}
UL.sf-menu LI:hover UL UL, UL.sf-menu LI.sfHover UL UL
{
/*Hide 3rd level offscreen*/
	top: -999em;
}
/*3rd Level*/
UL.sf-menu LI UL LI UL
{
	left: 10em;
	display: none;
	visibility: hidden;
	top: 0em;
	left: 10em;
/*left = 1st level width*/
	top: 0;
}
UL.sf-menu LI UL LI:hover > UL, UL.sf-menu LI UL LI.sfHover > UL
{
/*Shows 3rd Level*/
	top: 0em;
}
UL.sf-menu LI UL LI UL LI UL
{
/*Hide 4th level*/
	top: -999em;
}
/*4th Level*/
UL.sf-menu LI UL LI UL LI UL
{
	left: 10em;
/*Last Level, just style, no superfish disclosure, just copy the above recipe to add more levels!*/
}
UL.sf-menu LI UL LI UL LI:hover UL, UL.sf-menu LI UL LI UL LI.sfHover UL
{
/*Show 4th Level*/
	top: 0em;
}
/*Hover State / XPath*/
.sf-menu LI:hover, .sf-menu LI.sfHover, .sf-menu A:focus, .sf-menu A:hover, .sf-menu A:active
{
	outline: 0;
}
/*Arrows*/
.sf-menu A.sf-with-ul
{
	padding-right: 2.25em;
	min-width: 1px;
/*trigger IE7 hasLayout so spans position accurately*/
}
.sf-sub-indicator
{
	position: absolute;
	display: block;
	right: 0.55em;
	top: 1.05em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background-position: -10px 0;
	background: url('../images/arrows-ffffff.png') no-repeat -10px 0px;
}
.sf-menu LI.sfHover .sf-sub-indicator
{
	background-position: -10px -100px;
}
/*Submenu Arrows Right*/
UL.sf-menu LI.sfHover UL LI .sf-sub-indicator
{
	background-position: 0px 0px;
}
.sf-menu LI.sfHover LI.sfHover .sf-sub-indicator
{
	background-position: -10px 0px;
}
.sf-menu UL .sf-sub-indicator
{
	background-position: -10px 0;
}
/*THEMES*/
#menu1 LI
{
	border: 0px solid #000000;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #C00505;
	/*+text-shadow:1px 1px 1px #000;*/
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
#menu1 LI A
{
	color: #FFF;
}
#menu1 LI.sfHover UL LI.sfHover UL LI A
{
	/*+border-radius:0px;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px 0px 0px 0px;
}
#menu1.sf-menu.sf-js-enabled LI.sf-with-ul UL LI.sf-with-ul UL LI A
{
	/*+border-radius:0;*/
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0 0 0 0;
}
#menu1 .sfHover LI.sfHover:last-child A, #menu1.sf-js-enabled LI.sf-with-ul.sfHover UL LI.sf-with-ul.sfHover UL LI.sfHover:last-child A
{
	/*+border-radius:0 0 20px 20px;*/
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
	-khtml-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
#menu1 .sfHover LI.sfHover:first-child A, #menu1.sf-js-enabled LI.sfHover UL LI.sf-with-ul UL LI.sfHover:first-child A
{
	/*+border-radius:20px 20px 0 0;*/
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-khtml-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}
#menu1.sf-js-enabled LI.sf-with-ul.sfHover UL LI.sf-with-ul.sfHover UL LI.sfHover:last-child A
{
	/*+border-radius:0 0 20px 20px;*/
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
	-khtml-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
#menu1 LI UL LI UL LI A
{
	border-bottom: 1px solid #000000 !important;
}
#menu1 LI UL LI UL LI:last-child, #menu1 LI.sf-with-ul UL LI.sf-with-ul UL LI:last-child A
{
	border-bottom: 0px solid #000 !important;
}
#menu1 LI UL
{
	/*+box-shadow:5px 5px 10px #1A1A1A;*/
	-moz-box-shadow: 5px 5px 10px #1A1A1A;
	-webkit-box-shadow: 5px 5px 10px #1A1A1A;
	-o-box-shadow: 5px 5px 10px #1A1A1A;
	box-shadow: 5px 5px 10px #1A1A1A;
	/*+border-radius:20px;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #000000;
	background-color: #464646;
}
#menu1 .sfHover > A
{
	background-color: #000;
}
#menu1 LI UL LI
{
	/*+border-radius:0px;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px 0px 0px 0px;
	background-color: transparent;
}
#menu1 LI UL LI A
{
	border: 0px solid #000000;
	border-bottom: 1px solid #000000;
}
#menu1 LI UL LI:last-child A
{
	border-bottom: 0px solid #000000;
}
